rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    match /avatars/{uid}/{fileName} {
      allow read: if true;
      allow write: if signedIn() && request.auth.uid == uid && request.resource.size < 3 * 1024 * 1024;
    }
    match /courts/{fileName} {
      allow read: if true;
      allow write: if signedIn() && request.resource.size < 8 * 1024 * 1024;
    }
    match /posts/{fileName} {
      allow read: if true;
      allow write: if signedIn() && request.resource.size < 8 * 1024 * 1024;
    }
  }
}
